.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 9rem;

  &__trivia-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 2rem;
    gap: 3rem;
    min-width: 60rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: #6b4ef5;
    box-shadow: 0 24px 60px #00000020;

    &--buttons {
      display: flex;
      gap: 2rem;

      &--true {
        width: 7.5rem;
        padding: .75rem;
        border-radius: .35rem;
        background-color: #5ebd5e;
        color: #FFFFFF;
        border: none;
        font-weight: bolder;

        &:hover {
          width: 9rem;
        }
      }

      &--false {
        width: 7.5rem;
        border-radius: .35rem;
        background-color: #eb4034;
        color: #FFFFFF;
        border: none;
        font-weight: bolder;

        &:hover {
          width: 9rem;
        }
      }
    }

    &--answer {
      font-weight: bold;
      color: #FFFFFF;
    }

    &--next-question {
      width: 10rem;
      padding: .5rem;
      border-radius: .35rem;
      box-shadow: 0 24px 60px #00000020;
      background-color: #FFFFFF;
      color: #6b4ef5;
      border: none;

      &:hover {
        width: 12rem;
      }
    }
  }
}