.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 9rem;

  &__trivia-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 1rem;
    gap: 2rem;
    min-width: 60rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #646cff;
    background-color: #f5f5f5;
  }
}