.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 7rem;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    margin-block-start: 1.5rem;

    &--label {
      display: flex;
      flex-direction: column;
    }

    &--button {
      margin-block: 2rem;
      width: 8rem;
      padding: .25rem;
      border-radius: .35rem;
      background-color: #FFFFFF;
      color: #333333;
      border: none;

      &:hover {
        width: 9.5rem;
      }
    }
  }
}