.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 7rem;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    margin-block-start: 1.5rem;
    min-width: 25rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: #6b4ef5;
    box-shadow: 0 24px 60px #00000020;

    &--label {
      display: flex;
      flex-direction: column;
    }

    &--button {
      margin-block: 2rem;
      width: 8rem;
      padding: .25rem;
      border-radius: .35rem;
      background-color: #FFFFFF;
      color: #6b4ef5;
      border: none;

      &:hover {
        width: 9.5rem;
      }
    }
  }
}