.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 12rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25rem;
    padding: 2rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: #6b4ef5;
    box-shadow: 0 24px 60px #00000020;

    &--title {
      margin-block-end: 1rem;
    }
  }
}